*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
h1{
    font-size: 50px;
    margin-top: 20px;
    padding: 50px;
}
button{
    border: 1px #000000 solid;
    padding: 10px 50px;
    background-color: transparent;
    border-radius: 25px;
    cursor: pointer;
}
.dark:hover{
    background:linear-gradient( to right , #2d2d2d ,#2d2d2d, #101010) ;
    color: white;
}
.light:hover{
    background: #FFF;

}
.randomcolor:hover{
    background: linear-gradient( to right ,red , green , blue);
    color: white;
}